.header
  .header__user
    = current_user.name
    =link_to edit_user_path(current_user), class: "header__icon" do
      = fa_icon 'cog'
      %span<>
    =link_to new_group_path, class: "header__icon" do
      = fa_icon 'edit'
      %span<>
.main
  .main__left
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: "main__left__link" do
        .main__left__link__join_group
          = group.name
        .main__left__link__message
          = group.show_last_message