.header
  .header__user
    = current_user.name
    =link_to edit_user_path(current_user), class: "header__icon" do
      = fa_icon 'cog'
      %span<>
    =link_to new_group_path, class: "header__icon" do
      = fa_icon 'edit'
      %span<>
  .header__group
    .header__group__name
      グループ名
    .header__group__member
      Member:
  .header__edit
    =link_to "",  class: "header__edit__link" do
      Edit
.main
  .main__left
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: "main__left__link" do
        .main__left__link__join_group
          = group.name
        .main__left__link__message
          メッセージはまだありません