.chat{"data-id": "#{message.id}"}
  .chat__upper-chat
    .chat__upper-chat__user
      = message.user.name
    .chat__upper-chat__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .chat__message
    - if message.content.present?
      %p.lower-message__content
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?