.header
  .header__user
    = current_user.name
    =link_to edit_user_path(current_user), class: "header__icon" do
      = fa_icon 'cog'
      %span<>
    =link_to new_group_path, class: "header__icon" do
      = fa_icon 'edit'
      %span<>
  .header__group
    .header__group__name
      = @group.name
    .header__group__member
      Member: 
      -@group.users.each do |user|
        = user.name
  .header__edit
    =link_to edit_group_path(@group),  class: "header__edit__link" do
      Edit
.main
  .main__left
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: "main__left__link" do
        .main__left__link__join_group
          = group.name
        .main__left__link__message
          = group.show_last_message
  .main__right
    .main__right__chats
      = render @messages
    .main__right__input
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'type_a_message', placeholder: 'type a message'
        = f.label :image do
          = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'file_form'
        = f.submit 'Send', class: 'send'